parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Redirects\\Repository\\RedirectRepository\:\:countRedirectsByDemand\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Controller/ExportController.php

		-
			message: '#^Call to function method_exists\(\) with TYPO3\\CMS\\Redirects\\Repository\\RedirectRepository and ''countRedirectsByByD…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Classes/Controller/ExportController.php
